
<footer>
<hr/>
  <div class="left">
    &copy;{{ site.time | date:"%Y" }} Clement Hoang |
    Design based on <a href="https://github.com/railsr/autm-rb">Autm-rb</a> under the <a href="http://sm.mit-license.org/">MIT license</a>
  </div>

  <div class="right">
      <a href="{{site.twitter}}" class="fa-twitter" title="Follow me on Twitter!"></a>
      <a href="{{site.github}}" class="fa-github" title="Check out my latest works on Github!"></a>
      <a href="{{site.linkedin}}" class="fa-linkedin" title="Connect with me on LinkedIn!"></a>
  </div>
</footer>
